<html>
    <head>
        <title>
            student score manage system
        </title>
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <style>
        a {
            display: block;
        }
    </style>
    <body>
        <div class="panel panel-info" style="text-align: center">
            <div class="panel-header">
                <h3>操作列表</h3>
            </div>
            <div class="panel panel-body">
                <a href="/addStudent" class="class-group-item">添加学生成绩</a>
                <a href="/printStudent" class="class-group-item">生成成绩单</a>
                <a href="/quit" class="class-group-item">退出</a>
            </div>
        </div>
        <div class="panel-footer">
            <%if(hintInfo !== ''){%>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><%= hintInfo %></strong>
            </div>
            <%}%>
        </div>
    </body>
</html>